<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content>
  
  <mat-form-field class="mr-16" appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" />
    <mat-hint>Please enter a name</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" />
    <mat-hint>Please enter a name</mat-hint>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>
      Save
    </button>
  </div>
</div>
