<mat-card class="user-header">
  <mat-card-content class="user-header-content">
    <button [matMenuTriggerFor]="userMenu" mat-icon-button class="pin-right-button-corner">
      <mat-icon>more_vert</mat-icon>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
      </mat-menu>
    </button>

    <img src="./../../assets/img/men1.png" alt="" />
    <div class="user-detail">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p>{{ user.email }}</p>
      <p>{{ getBirthDate() | date: 'dd.MM.yyyy' }}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="user-detail-card mt-32">

  <button [matMenuTriggerFor]="addressMenu" mat-icon-button class="pin-right-button-corner">
    <mat-icon>more_vert</mat-icon>
    
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>
  </button>

  <mat-card-header>
    <mat-card-title class="mb-32">Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ user.street }}</p>
    <p>{{ user.postalCode }} {{ user.city }}</p>
  </mat-card-content>
</mat-card>
