<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Birth Date</th>
      </tr>

      <tr *ngFor="let user of allUsers">
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.street}}</td>
        <td>{{user.postalCode}}</td>
        <td>{{user.city}}</td>
        <td>{{user.birthDate | date: 'dd.MM.yyyy'}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button
  mat-fab
  (click)="openDialog()"
  matTooltip="Add user"
  color="primary"
  [matTooltipPosition]="'above'"
  class="add-user-button"
>
  <mat-icon>add</mat-icon>
</button>
